
<div class="container" style="max-width: 500px; padding-top: 150px;">
  <div class="progress" role="progressbar" aria-label="Animated striped
    example"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped bg-success
      progress-bar-animated"
      style="width: 100%"></div>
  </div>
  <p class="text-center text-muted" style="font-size: 0.80rem; font-weight:
    500;">Em sugestão de
    desenvolvimento para novas Features...</p>
</div>
