footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 0 20px;
  background-color: #3c4d5ace;
  color: #fff;

  a {
    text-align: center;
  }
}
