<header>
  <div>
    <img src="./../../../assets/imagens/aiko.png" alt="Logomarca Aiko"
      width="80px">
  </div>
  <ul class="d-flex flex-row gap-4 align-items-center">
    <li><p routerLink="paineis" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:
        false}">Página inicial</p></li>
    <li><p routerLink="/dashboard/grafico-quantidade"
        [routerLinkActive]="['rota-active']"
        [routerLinkActiveOptions]="{exact:
        false}">Dashboards</p></li>
  </ul>

  <!-- </div> -->
</header>
